.announced-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #9f2f33;
}
 
.announced-navbar-interactive {
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  padding-left: 0px;
  justify-content: space-between;
}
 
.announced-navlink10 {
  display: contents;
}
 
.announced-image1 {
  width: var(--dl-layout-size-medium);
  height: var(--dl-layout-size-medium);
  display: none;
  margin-left: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.announced-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.announced-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.announced-navlink11 {
  display: contents;
}
 
.announced-image2 {
  width: var(--dl-layout-size-large);
  height: var(--dl-layout-size-large);
  margin-left: 0px;
  text-decoration: none;
}
 
.announced-navlink12 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: 50%;
  text-transform: capitalize;
  text-decoration: none;
}
 
.announced-navlink13 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-transform: capitalize;
  text-decoration: none;
}
 
.announced-navlink14 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.announced-navlink15 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.announced-navlink16 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.announced-navlink17 {
  fill: #ffff;
  color: #ffff;
  font-size: 20px;
  margin-left: var(--dl-layout-space-twounits);
  margin-right: 0%;
  text-decoration: none;
}
 
.announced-burger-menu {
  display: none;
}
 
.announced-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.announced-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.announced-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.announced-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.announced-navlink18 {
  display: contents;
}
 
.announced-logo {
  height: 2rem;
  text-decoration: none;
}
 
.announced-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.announced-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.announced-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.announced-navlink19 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-navlink20 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-navlink21 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-navlink22 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-navlink23 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-navlink24 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.announced-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.announced-icon16 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  text-decoration: none;
}
 
.announced-icon18 {
  text-decoration: none;
}
 
.announced-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 1010px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.announced-text10 {
  color: #ffffff;
  font-size: 50px;
  align-self: center;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
 
.announced-container3 {
  width: 80%;
  height: 70%;
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: var(--dl-layout-radius-inputradius);
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
 
.announced-container4 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.announced-text11 {
  color: #ff0505;
  width: auto;
  font-size: 35px;
  align-self: center;
  margin-top: 0%;
  text-align: center;
  margin-bottom: 0px;
}
 
.announced-link4 {
  font-size: 25px;
  align-self: center;
  text-decoration: none;
}
 
.announced-text14 {
  color: #1a1aec;
}
 
.announced-text17 {
  color: #f50000;
  width: auto;
  font-size: 35px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 0px;
}
 
.announced-link5 {
  font-size: 25px;
  align-self: center;
  text-decoration: none;
}
 
.announced-text19 {
  color: #1a1aec;
}
 
.announced-text20 {
  width: auto;
  font-size: 35px;
  align-self: center;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
 
.announced-image3 {
  width: 35%;
  height: auto;
  object-fit: cover;
  margin-bottom: 0px;
}
 
.announced-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
 
.announced-text21 {
  color: #bcbcbc;
  font-size: 80%;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
}
 
.announced-image4 {
  width: 5%;
  object-fit: cover;
  margin-bottom: 20px;
}
 
@media(max-width: 1600px) {
  .announced-image1 {
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-image2 {
    margin-left: 0px;
  }
  .announced-navlink12 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
    margin-left: 30%;
  }
  .announced-navlink13 {
    fill: #ffff;
    color: #ffff;
  }
  .announced-navlink14 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-navlink15 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-navlink16 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-navlink17 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-text10 {
    font-size: 45px;
  }
  .announced-image3 {
    width: 40%;
    margin-bottom: 0px;
  }
  .announced-text21 {
    font-size: 70%;
  }
  .announced-image4 {
    width: 5%;
    margin-bottom: 20px;
  }
}
 
@media(max-width: 1200px) {
  .announced-navbar-interactive {
    padding: 0px;
    padding-left: 0px;
  }
  .announced-image1 {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-image2 {
    width: var(--dl-layout-size-large);
    height: var(--dl-layout-size-large);
    margin-left: 0px;
  }
  .announced-navlink12 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
    margin-left: 20%;
    text-transform: capitalize;
    text-decoration: none;
  }
  .announced-navlink13 {
    fill: #ffff;
    color: #ffff;
    margin-left: var(--dl-layout-space-twounits);
  }
  .announced-navlink14 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
  }
  .announced-navlink15 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-navlink16 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
  }
  .announced-navlink17 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
    margin-right: 0px;
  }
  .announced-container2 {
    width: 100%;
    height: 872px;
    margin-bottom: 20px;
  }
  .announced-container3 {
    width: 80%;
    height: 594px;
  }
  .announced-link4 {
    font-size: 20px;
  }
  .announced-text14 {
    color: #1a1aec;
  }
  .announced-text15 {
    color: #1a1aec;
  }
  .announced-text16 {
    color: #1a1aec;
  }
  .announced-text17 {
    font-size: 35px;
    text-align: center;
  }
  .announced-link5 {
    font-size: 20px;
  }
  .announced-text19 {
    color: #1a1aec;
  }
  .announced-text20 {
    text-align: center;
  }
  .announced-image3 {
    width: 50%;
    height: auto;
    margin-bottom: 0px;
  }
  .announced-image4 {
    width: 7%;
    margin-bottom: 20px;
  }
}
 
@media(max-width: 991px) {
  .announced-navbar-interactive {
    padding: 0px;
  }
  .announced-image1 {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-links1 {
    width: auto;
    align-self: stretch;
    margin-right: 0px;
  }
  .announced-image2 {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    margin-left: 0px;
  }
  .announced-navlink12 {
    fill: #ffff;
    color: #ffff;
    margin-left: 3%;
  }
  .announced-navlink13 {
    fill: #ffff;
    color: #ffff;
    margin-left: var(--dl-layout-space-twounits);
  }
  .announced-navlink14 {
    fill: #ffff;
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
  }
  .announced-navlink15 {
    fill: #ffff;
    color: #ffff;
  }
  .announced-navlink16 {
    fill: #ffff;
    color: #ffff;
  }
  .announced-navlink17 {
    fill: #ffff;
    color: #ffff;
    margin-left: var(--dl-layout-space-twounits);
    margin-right: 0%;
  }
  .announced-text10 {
    margin-top: 10%;
  }
  .announced-text11 {
    color: rgb(255, 5, 5);
    font-size: 35px;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .announced-text14 {
    color: #1a1aec;
  }
  .announced-text15 {
    color: #1a1aec;
  }
  .announced-text16 {
    color: #1a1aec;
  }
  .announced-text17 {
    font-size: 30px;
    text-align: center;
  }
  .announced-text19 {
    color: #1a1aec;
  }
  .announced-text20 {
    font-size: 30px;
    text-align: center;
  }
  .announced-image3 {
    width: 60%;
    height: 50%;
    margin-bottom: 0px;
  }
  .announced-image4 {
    width: 9%;
  }
}
 
@media(max-width: 767px) {
  .announced-navbar-interactive {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .announced-image1 {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    display: flex;
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-desktop-menu {
    display: none;
  }
  .announced-image2 {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .announced-icon10 {
    fill: #ffffff;
    margin-right: var(--dl-layout-space-twounits);
  }
  .announced-mobile-menu {
    height: 100uh;
    padding: 0px;
    background-color: #942329;
  }
  .announced-top {
    margin-bottom: 0px;
  }
  .announced-logo {
    width: var(--dl-layout-size-medium);
    height: var(--dl-layout-size-medium);
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-icon12 {
    fill: #ffff;
    margin-right: 32px;
    padding-right: 0px;
  }
  .announced-links2 {
    padding: 32px;
    margin-left: var(--dl-layout-space-twounits);
    padding-left: 1px;
  }
  .announced-navlink19 {
    fill: #ffff;
    color: #ffff;
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .announced-navlink20 {
    fill: #ffff;
    color: #ffff;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .announced-navlink21 {
    fill: #ffff;
    color: #ffff;
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
    text-decoration: none;
  }
  .announced-navlink22 {
    fill: #ffff;
    color: #ffff;
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .announced-navlink23 {
    fill: #ffff;
    color: #ffff;
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .announced-navlink24 {
    fill: #ffff;
    color: #ffff;
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .announced-icon-group {
    margin-left: 32px;
    margin-bottom: 32px;
  }
  .announced-icon14 {
    fill: #ffff;
  }
  .announced-icon16 {
    fill: #ffff;
    margin-right: var(--dl-layout-space-twounits);
  }
  .announced-icon18 {
    fill: #ffff;
    color: #ffff;
    width: var(--dl-layout-size-xsmall);
    height: var(--dl-layout-size-xsmall);
  }
  .announced-text10 {
    font-size: 40px;
    margin-top: 10%;
  }
  .announced-text11 {
    font-size: 25px;
  }
  .announced-link4 {
    font-size: 15px;
  }
  .announced-text17 {
    font-size: 20px;
    text-align: center;
  }
  .announced-link5 {
    font-size: 15px;
  }
  .announced-text20 {
    font-size: 20px;
    text-align: center;
  }
  .announced-image3 {
    width: 70%;
    height: 50%;
    margin-bottom: 0px;
  }
  .announced-text21 {
    font-size: 60%;
  }
  .announced-image4 {
    width: 11%;
  }
}
 
@media(max-width: 479px) {
  .announced-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .announced-mobile-menu {
    padding: 16px;
  }
}
 
@media(max-width: 390px) {
  .announced-navbar-interactive {
    padding: 0px;
  }
  .announced-image1 {
    width: 20%;
    height: 20%;
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-image2 {
    width: 20%;
    height: 20%;
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-icon10 {
    fill: #D9D9D9;
    margin-right: var(--dl-layout-space-oneandhalfunits);
  }
  .announced-logo {
    width: 20%;
    height: 100%;
    margin-left: var(--dl-layout-space-halfunit);
  }
  .announced-links2 {
    padding-left: 0px;
  }
  .announced-navlink21 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .announced-navlink24 {
    text-decoration: none;
  }
  .announced-icon16 {
    margin-right: var(--dl-layout-space-twounits);
  }
  .announced-container2 {
    height: 419px;
  }
  .announced-text10 {
    font-size: 25px;
    margin-top: 10%;
  }
  .announced-container3 {
    width: 90%;
    height: 282px;
  }
  .announced-text11 {
    font-size: 25px;
    text-align: center;
  }
  .announced-text17 {
    font-size: 20px;
    text-align: center;
  }
  .announced-text20 {
    font-size: 20px;
    text-align: center;
  }
  .announced-image3 {
    width: 80%;
    height: 100%;
  }
  .announced-text21 {
    font-size: 50%;
  }
  .announced-image4 {
    width: 15%;
  }
}
